@font-face { font-family: Inter; font-weight: 400; src: url(Inter-Regular.ttf); }
@font-face { font-family: Inter; font-weight: 500; src: url(Inter-SemiBold.ttf); }
@font-face { font-family: SignikaNegative; font-weight: 400; src: url(SignikaNegative-Regular.ttf); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background: #ffe5ce;
  color: #000;
  --my-color: #000;
  --my-shaded-bg: #0001;
  --my-highlight-bg: #fff7;
  --my-bg-color: #f6f7f9;
  --my-hover-color: #f0f2f5;
  --my-active-color: #eaecf2;
  --my-border-color: #0002;
  font-family: Inter;
  position:relative;
  padding: 40px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  color: var(--my-color));
  background: var(--my-bg-color);
  border-radius: 16px;
  border: 0;
  padding: 0 12px;
  line-height: 40px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  margin: 5px;
}
button:hover {
  background: var(--my-hover-color);
}
button:active {
  background: var(--my-active-color);
}

main {
  max-width: 720px;
  margin: 0 auto;
}

main>p {
  margin: 15px 0;
}
main>p>a {
  text-decoration:underline;
}
main>p>a>svg {
  transform: scale(0.6);
}

.connectkit {
  position: absolute;
  top: 5px;
  right: 5px;
}

h1.logo {
  background-image: url(logo-light.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  padding:300px 0 0 0;
  margin-bottom: 60px;
  text-align:center;
}

h1,h2,h3,h4 {
  font-family: SignikaNegative;
}

h2 {
  margin: 60px 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--my-border-color);
  line-height: 45px;
  text-indent: 10px;
}

.header-buttons {
  float:right;
}

ul.positions {
}

.not-connected,
ul.positions li {
  list-style:none;
  display:flex;
  padding: 16px;
  margin: 16px 0;
  border-radius: 16px;
  overflow: hidden;
  background: var(--my-shaded-bg);
}

ul.positions.wrapped li {
  background: var(--my-highlight-bg);
}

.not-connected {
  padding: 60px 16px;
  justify-content: space-around;
}

ul.positions img {
  max-height:180px;
}

ul.positions .values {
  padding-left:10px;
}

ul.positions meter {
  width: 100%;
  margin-bottom: 10px;
}

ul.positions .values .captions {
  display: flex;
  justify-content:space-between;
}
@media (max-width:550px) {
  ul.positions .values .captions {
    flex-direction:column;
  }
}

.actions {
  display: flex;
}

.action {
  width: 50%;
  padding: 15px;
  margin: 10px;
  border-radius: 16px;
  border: 1px solid var(--my-border-color);
}
.action label {
  display:block;
}
.action label span {
  display:block;
  padding: 8px;
  font-weight: bold;
}
.action input {
  border: 0;
  border-radius: 16px;
  width: 100%;
  padding: 0 8px;
  font-size: 120%;
  line-height: 40px;
  text-align:right;
}
.action button {
  width: 100%;
  text-align: center;
}
.field-help {
  font-size: 90%;
  text-align:right;
  padding: 8px 24px 8px 0;
}
.form-status {
  padding: 10px;
  border: 1px solid var(--my-border-color);
  background:var(--my-highlight-bg);
  border-radius: 5px;
  margin: 5px;
  display:block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background: #001a31;
    color: #fff;
    --my-color: #fff;
    --my-shaded-bg: #fff1;
    --my-highlight-bg: #0007;
    --my-bg-color: #383838;
    --my-hover-color: #404040;
    --my-active-color: #4d4d4d;
    --my-border-color: #fff2;
  }

  h1.logo {
    background-image: url(logo-dark.png);
  }
}

.slider {
  width: 100%;
  position: relative;
  left: -100%;
  opacity: 0;
  transition: left 0.3s ease, opacity 0.5s ease;
}

.slider.active {
  left: 0;
  opacity: 1;
}

.shimmer {
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.shimmer:hover {
  transform: rotateY(15deg) rotateX(15deg);
}

footer {
  margin: 80px 0 50px;
  display:flex;
  justify-content: center;
}
